body{
  margin: 0;
  padding: 0;
  background-color: #C69A92;
  color: #222420;
}

#slimNav{
  height: 100vh;
  width: 55px;
  background-color: #876964;
}

.iconwrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content:space-between;
  
}

#topIcons,#bottomIcons{
    justify-content:center;
    align-items:center;
}

.icon{
  width: 35px;
  height: 35px;
}

.icon svg{
  height: 27px;
  width: 27px;
  stroke-width:2;

}

.tooltip{
  /* should be removed later */
  visibility:hidden; 
}