body{
    background-color: black;
    color: white;
}

nav{
    position:fixed;
    left:0;
    top:0;
    height: 100vh;
    width:70px;
    display:flex;
    flex-direction:column;
}


.icon {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: 12px;

         /* icon color */
  
}

.icon svg {
  width: 22px;
  height: 22px;
}



#topIcons{
    
}
